body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  text-shadow: #F2613F 20px 20px 300px;
}

h2 {
  color: #f2613f;
}

span {
  color: #f2613f;
}

.white {
  color: #fff;
}

.tile-image {
  float: left;
  height: 200px;
  margin-right: 50px;
  border-radius: 30px;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

footer {
  text-align: right;
  color: midnightblue;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    object-fit: cover;
  }
}